.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.layout {
  display: flex;
  background-color: purple;
}

.form-container {
  background-color: wheat;
  padding: 2rem;
}

.sidebar {
  background-color: blue;
}

.step {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.number {
  border: 2px solid white;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  /* center number within its container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: yellow;
}

.navigation {
  background-color: purple;
}

/* mobile styles */

@media (max-width: 768px) {
  .background {
    position: relative;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .navigation button:first-child {
    float: left;
  }

  .navigation button:last-child {
    float: right;
  }

  .form-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
