.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.layout {
  display: flex;
  background-color: purple;
}

.form-container {
  /* background-color: wheat; */
  padding: 2rem;
}

.sidebar {
  background-color: blue;
}

.main {
  background-color: yellow;
}

.navigation {
  background-color: purple;
}

/* mobile styles */

@media (max-width: 768px) {
  .background {
    position: relative;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 1rem;

    z-index: 100;
  }
}
