/* BODY */

* {
  font-family: "Ubuntu", sans-serif;
}

.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef5ff;
}

.form-container {
  background-color: #fffeff;
  padding: 2rem;
  border-radius: 10px;
}

.layout {
  display: flex;
  height: auto;
}

/* SIDE BAR */

.sidebar {
  background-image: url(multi-step-form-main/assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 2rem;
  width: 165px;
  height: 355px;
}

.number {
  color: white;
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  /* center number within its container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.number.active {
  color: #385a75;
  font-weight: bolder;
  background-color: #c3e1f9;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
}

.step-title {
  color: #7a78ff;
  font-weight: bold;
}

.step-subtitle {
  font-weight: bolder;
}

.step {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* MAIN BAR */

.main {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.form-content {
  padding: 2rem;
}

fieldset {
  border: none;
}

form[data-step="1"] label {
  display: block;
  margin-bottom: 5px;
}

form[data-step="1"] input {
  display: block;
  width: 100%;
}

.error {
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

h1 {
  color: #4a597b;
}

h3 {
  color: #c4c3c6;
}

label {
  display: block;
  color: #4a597b;
  font-weight: bold;
}

input::placeholder {
  color: #c4c3c6;
  font-weight: bold;
}

button {
  color: white;
  background-color: #032b59;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

/* FORM 2 */

.monthly-plans input {
  display: none;
}

.yearly-plans input {
  display: none;
}

.card {
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 10px;
  width: 96px;
  height: 96px;
}

.plan-price {
  color: #c4c3c6;
}

/* Billing Toggle */

.billing-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f5f7ff;
}

.switch {
  position: relative;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: #02295a;
  border-radius: 999px;
  /* transition: 0.3s; */
}

/* slider track circle */
.slider::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}

/* Billing Toggle Label */

/* FORM 3 */
.monthly-addons input,
.yearly-addons input {
  appearance: none;

  width: 18px;
  height: 18px;

  border: 2px solid #9699ab;
  border-radius: 4px;

  cursor: pointer;
}

.monthly-addons input:checked,
.yearly-addons input:checked {
  background-color: #473dff;
  border-color: #473dff;
}

.monthly-addons input:checked::before,
.yearly-addons input:checked::before {
  content: "✓";
  color: white;
}

.monthly-addons label,
.yearly-addons label {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #d6d9e6;
  border-radius: 10px;
  cursor: pointer;
}

.monthly-addons label:hover,
.yearly-addons label:hover {
  border-color: #473dff;
}

.monthly-addons label:has(input:checked),
.yearly-addons label:has(input:checked) {
  border-color: #473dff;
  background-color: #f8f9ff;
}

/* FORM 4 */
.summary-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-plan-info {
  display: flex;
  flex-direction: column;
}

/* mobile styles */

/* @media (max-width: 768px) {
  .background {
    position: relative;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .nav[data-step] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .navigation button:first-child {
    float: left;
  }

  .navigation button:last-child {
    float: right;
  }

  .form-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */
